version: '3'

services:
  messagebridge:
    build:
      context: .
      dockerfile: tools/docker/Dockerfile
    ports:
      - "8080:8080"
    environment:
      ENV_FILE: development

  rabbitmq:
    image: rabbitmq:3.8.14-management
    hostname: rabbitmq
    expose:
      - "9090"
    ports:
      - "4369:4369"
      - "5671:5671"
      - "5672:5672"
      - "15672:15672"
      - "25672:25672"

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"